<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>

  <body>
    <div class="jumbotron-fluid" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 100%), url(/images/banner1.jpg); background-size: cover; background-position: center; height: 100%;">
      <div class="container">
        <div class="row">
          <div class="col-10">
            <h1 class="text-white mt-5" style="font-size: 80px;">Matt Yerkes</h1>
            <h3 class="text-white my-3">Data driven.</h3>
            <h3 class="text-white my-3">Quality focused.</h3>
            <h3 class="text-white my-3">Backend Developer.</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>