<div>
    <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>About Me</h1>
            <p></p>
            <h1>Technologies</h1>
            <p></p>
            <h1>Education</h1>
            <p>I studied Mechanical Engineering at <a href="https://www.purdue.edu/">Purdue University</a> in West Lafayette, IN and graduated with a B.S. in 2017. 
            I was also able to add several Computer Science courses to my curriculum and learn things like the basics of computing, algorithms, object oriented programming,
            and much more. Luckily, I was also given the opportunity to study abroad at the <a href="https://www.uq.edu.au/">University of Queensland</a> in Brisbane, Australia! 
            While there, I was able to take courses in advanced thermodynamics, material properties, and circuits.
            </p>
            <h1>Work History</h1>
            <p>While studying at Purdue, I did a three semester long co-op at the <a href="https://www.fnal.gov/">Fermi National Accelerator Laboratory</a> (aka Fermilab).
            Fermilab is one of America's premier particle physics research facilities and has had a plethora of contributions to the scientific community ranging from 
            discovering the top quark to the creation of Scientific Linux! As a co-op, I supported several projects across the site with things like CAD modeling,
            safety improvements, and structural test-stand design.
            </p>
            <br>
            <p>After graduation, I began a full-time engineering manager position with <a href="https://us.pg.com/">Procter & Gamble</a> in Martinsburg, WV. 
            I was given the unique opportunity to help start up a brand new, world class manufacturing facility featuring the latest and greatest in consumer goods
            production technology.
            </p>
          </div>
        </div>
      </div>
</div>